<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <h1>About Überwatch</h1>
    <p>
      Überwatch is a community site made by and for fans of the game Overwatch by Blizzard Entertainment,
      where users can create and share team compositions for use in competitive play. Each team comp has a
      lineup of 6 heroes, a game objective that it is intended for, and an overview of the strategy that can be
      as in-depth as the creator desires. Users can comment and vote on others' submissions, and browse
      all submissions that meet given criteria. If you are unfamiliar with a given hero's abilities,
      there are also overviews of each hero availabe for quick reference.
    </p>

      <h3>Links</h3>
      <p>
        <%= link_to "Overwatch Official Site (US)", 'https://playoverwatch.com/en-us/' %><br>
        <%= link_to "Overwatch Wiki", 'http://overwatch.gamepedia.com/Overwatch_Wiki' %><br>
        <%= link_to "Overwatch Subreddit", 'https://www.reddit.com/r/Overwatch/' %><br>
        <%= link_to "Überwatch Source Code", 'https://github.com/lateleo/overwatch_team_builder' %><br>
      </p>
  </div>
</div>
