<h1>Password Reset Email Sent</h1>

<p>If there is a user with that email address, We have sent them an email
  with a link to reset their password. If you haven't recieved it yet,
  please be sure to check your junk/spam folder.</p>
