<!DOCTYPE html>
<html>
<head>
</head>
<body>
<p>Welcome to Überwatch, <%= @user.username %><br>
===============================================<br>

You have successfully signed up to Überwatch.<br>
your username is: <%= @user.username %>.<br>
<br>
To login to the site, just click this link: <%= @url %>.<br>
<br>
Thanks for joining, have a great day!</p>
</body>
</html>
