<p>Congrats, <%= @user.username %><br>
===============================================<br>
<br>
You have successfully activated your Überwatch account,<br>
your username is: <%= @user.username %>.<br>
<br>
To login to the site, just follow this link: <%= @url %>.<br>
<br>
Thanks for joining and have a great day!</p>
