<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <p>Welcome, <%= @user.username %>. You have successfully signed up to Überwatch.</p>
    <p>To login to the site, just click this link: <%= @url %></p>
    <p>Thanks for joining, have a great day!</p>
  </body>
</html>
