// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$background-color: #131419;
$white: #ffffff;
$link-blue: #00c3ff;
$upvote-green: #25e825;
$light-green: #29FF29;
$downvote-red: #eb3434;
$light-red: #FF3838;
$btn-orange: #FBA729;
$light-orange: #FFC978;

html, body {
  background-color: $background-color;
  color: $white;
  font-family: sans-serif;
}

a {
  color: $link-blue;
}

.upvote {
  color: $upvote-green;
}

.upvote:hover {
  color: $light-green;
}

.downvote {
  color: $downvote-red;
}

.downvote:hover {
  color: $light-red;
}

textarea, input {
  background-color: $background-color;
}

.btn {
  background-color: $btn-orange;
  color: $white;
  border: 0px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus,
.btn:hover,
.btn:focus,
.btn.focus,
.btn:active,
.btn.active {
  border: 0px;
  background-color: $light-orange;
  color: $white;
}
