// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$background-color: #131419;
$white: #ffffff;
$link-blue: #00c3ff;
$upvote-green: #25e825;
$downvote-red: #eb3434;

html, body {
  background-color: $background-color;
  color: $white;
  font-family: sans-serif;
}

a {
  color: $link-blue;
}

.upvote {
  color: $upvote-green;
}

.downvote {
  color: $downvote-red;
}

textarea, input {
  background-color: $background-color;
}
