// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  background-color: #131419;
  color: #FFFFFF;
  font-family: sans-serif;
}

a {
  color: #00C3FF;
}
